@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #FFFFFF;
  --background-body: #050505;

  /* box */
  --background-box: #0a0a0a;
  --border-color: #242424;

  /* input */
  --input-background: #161616;
  --input-border-color: #242424;

  /* button */
  --button-background: #1d6b37;
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-body);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.box {
  background-color: var(--background-box) !important;
  border: 1px solid var(--border-color);
}
